html,body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

body
{
    background-color: #272922; /* 39 40 34 */
}

/* http://stackoverflow.com/questions/814366/how-can-i-remove-the-outline-around-hyperlinks-images */
a {
    outline : none;
}
a img {
    outline : none;
}
img {
    border : 0;
}

a:link {
    text-decoration: none;
}

/* http://css-tricks.com/overriding-the-default-text-selection-color-with-css/ */
::selection {
  background: #272922; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #272922; /* Gecko Browsers */
}

#main
{
    min-height: 100%
}

div#ads-top
{
  /* http://stackoverflow.com/questions/5967758 */
  position:     absolute;
  top:          135px;
  left:         50%;    /* Move the left edge to the center. */
  margin-left: -364px;  /* And move it a bit to the left again. */
  z-index:      9999;   /* Try to get it on top. */
  width:        728px;
  height:       90px;
  visibility:   hidden;
}