html,body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #272922; /* 39 40 34 */
}

#main
{
    min-height: 100%
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}