html,body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #272922; /* 39 40 34 */
}

/* http://css-tricks.com/overriding-the-default-text-selection-color-with-css/ */
::selection {
  background: #272922; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #272922; /* Gecko Browsers */
}

#main
{
    min-height: 100%
}