html,body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

body
{
    background-color: #272922; /* 39 40 34 */
}

/* http://stackoverflow.com/questions/814366/how-can-i-remove-the-outline-around-hyperlinks-images */
a {
    outline : none;
}
a img {
    outline : none;
}
img {
    border : 0;
}

a:link {
    text-decoration: none;
}

/* http://css-tricks.com/overriding-the-default-text-selection-color-with-css/ */
::selection {
  background: #272922; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #272922; /* Gecko Browsers */
}

#main
{
    min-height: 100%
}